---
layout: base.njk
title: Konkurs i Gala International Business Woman Awards
description: Konkurs i Gala International
---

{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/nominees.njk" %}
{% include "sections/companies.njk" %}
{% include "sections/jury.njk" %}
{% include "sections/interviews.njk" %}
{% include "sections/partners.njk" %}
{% include "sections/media.njk" %}
{% include "sections/contact.njk" %}



