---
layout: base.njk
title: Kontakt
description: Strona kontaktowa plebiscytu 
---

<section class="px-6 md:px-24 py-24 bg-gray-100">
  <div class="mx-auto max-w-[1200px]">
    <div class="mb-12">
      <h2 class="text-4xl font-semibold uppercase lg:text-6xl">Kontakt</h2>
    </div>


  </div>
</section>
