<section class="relative isolate left-1/2 w-screen -translate-x-1/2 overflow-hidden">
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="background-image: url('/assets/video/poster.jpg');"
  >
    <div
    class="absolute inset-0 bg-black/70 z-9"></div>
    <iframe
      class="absolute left-1/2 top-1/2 h-[56.25vw] min-h-full w-[177.78vh] min-w-full -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity duration-700"
      src="https://player.vimeo.com/video/650418919?autoplay=1&amp;muted=1&amp;loop=1&amp;background=1&amp;dnt=1"
      title="International Businesswoman Awards video background"
      allow="autoplay; fullscreen; picture-in-picture"
      loading="lazy"
      frameborder="0"
      referrerpolicy="strict-origin-when-cross-origin"
      onload="this.style.opacity='1'"
    ></iframe>


  </div>

  <div class="relative z-10 mx-auto flex max-w-[1200px] items-center justify-center px-6 pt-38 pb-48 text-center">
    <div>
      <h1>
        <span class="text-balance text-[34px] uppercase leading-[1.1] tracking-[0.1em] text-white sm:text-[64px] md:text-[84px]">
            Konkurs i Gala
        </span>
        <span class="mt-6 text-balance text-[38px] font-light uppercase leading-[1.2] tracking-[0.12em] text-[#d4ab71] sm:text-[70px] md:text-[90px]">
          International <br>Businesswoman Awards</span>
      </h1>
    </div>
  </div>

  <div class="pointer-events-none absolute bottom-6 left-1/2 z-10 -translate-x-1/2">
    <div class="h-14 w-7 rounded-full border border-white/70">
      <div class="mx-auto mt-2 h-2 w-[1px] rounded-full bg-white/90"></div>
      <div class="mx-auto mt-7 h-1.5 w-1.5 rounded-full bg-white/85"></div>
    </div>
  </div>

</section>
