
 <div class="h-screen pt-20">
    <div class="card">
    <h2 class="text-5xl font-semibold mb-4">Przerwa techniczna</h2>
    <p>Aktualizujemy serwis, aeby działał jeszcze lepiej.</p>
    <small>Zapraszamy ponownie za kilka godzin.</small>
    </div>
      </div>
<style>
    body {
        background: linear-gradient(135deg, #204b90 0%, #342458 100%);
        color: white;
        margin: 0;
    }
    .card {
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
</style>
